body
	{
	text-align: center;
	}

header
	{
	background-color: lightgrey;
	border-bottom : 5px solid darkblue;
	margin-bottom: 50px;
	color: darkblue;
	font-weight: bold;
	font-size: 75px;
	text-align: center;
	}

footer
	{
		margin-top: 50px;
		height: 100px;
		background-color: lightgrey;
		border-top : 5px solid darkblue;
		color: darkblue;
		font-weight: bold;
		font-size: 75px;
		text-align: center;
	}

main
	{
	min-height: 400px;
	}

.contenant
	{
	 height: 528px;
	 width: 286px;
	 border: 1px solid black;
	 margin: auto;
	 position:static;
	}

.cases
	{
		height : 20px;
		width : 20px;
		border : 1px solid black;
		float : left;
		cursor: pointer;
	}

#bombe
	{
		height: 50px;
		width: 150px;
		font-size: 35px;
		text-align: center;
	}

::placeholder
	{
	  font-size: 18px;
	}
